body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-print {
  color: black;
  background-color: #EFECDE;
  border:none;
  outline: none;
  font-size: 1.25rem;
  text-decoration: underline;
  font-weight: bold;
  width: 150px;
}
.button-print > img {
  height: 25px;
}

