.mainVoto {
   background-color: #EFECDE; 
}

.banner {
    background:linear-gradient(0deg,  #EFECDE, #fcfcfc20, #fcfcfc15), url('./votoBanner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 310px;
    display: flex;
    flex-direction: column-reverse;
    border-style: hidden;
    border-bottom-color: #333333;
    border-bottom-style: solid;
    border-bottom-width: 2px ;
}

.bannerMesa {
    background:linear-gradient(0deg,  #EFECDE, #fcfcfc20, #fcfcfc15), url('./mesa.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 310px;
    display: flex;
    flex-direction: column-reverse;
    border-style: hidden;
    border-bottom-color: #333333;
    border-bottom-style: solid;
    border-bottom-width: 2px ;
}

.slideContainer {
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-style: hidden;
    border-top-color: #333333;
    border-top-style: solid;
    border-top-width: 4px ;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 30px;
}

.slide {
    background-color: #C5C2B9;
    padding:15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 9px;
    margin-right: 9px;
    width: 40vw;
    text-align: center;
    border-radius: 12px;
}

.textosContainer {
    margin: 5vw;
    border-style: hidden;
    border-top-color: #333333;
    border-top-style: solid;
    border-top-width: 15px;
    padding-top: 20px;
}
.textoImgContainer {
    margin: 5vw;
    padding-top: 20px;
}

.tituloBanner {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    background-color: white;
    width: 330px;
    margin-left: 25px;
    font-family: "Regular";
    font-weight: bolder;
}
.titulo {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-family: "Regular";
    font-weight: bold;
}
.subtitulo {
    font-size: 1.3rem;
    font-family: "Regular";
    font-weight: bold;
}
.contenido{
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.divImg{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.imgVoto2 {
    width: 260px;
    height: 180px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}
.imgVoto1 {
    width: 320px;
    height: 450px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}
.imgSlide2 {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

.interactionContainer {
    width: 50vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top-width: 4px ;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 40px;
}
.compartir{
    display: flex;
    flex-direction: column;
}

.masContainer {
    width: 100vw;
    padding: 5vw;
    padding-top: 20px;
    background-color: #EFECDE;
}

.subtituloMas {
    font-size: 1.3rem;
    font-family: "Regular";
    font-weight: bold;
    border-style: hidden;
    border-color:#333333;
    border-bottom-style: solid ;
}

.flex{
    display: flex;
    flex-direction: row;
}
.itemMenu{
    margin-left: 15px;
    margin-bottom: 0%;
    margin-top: 5px;
    font-size: 1.1rem;
}
.itemMenuTitle{
    margin-left: 10px;
    font-size: 1.3rem;
    padding-top: 3px;
    text-decoration: underline;
    font-weight: bold;
}
.imgCompartir{
    width: 25px;
    height: 25px;
    margin-left: 15px;
    position: absolute;
    top: 12px;
    left: 120px;
}
.imgItems{
    width: 25px;
    height: 25px;
    margin: 3px;
    margin-top: 5px;
}
.btnLike{
    background-color: #EFECDE;
    outline: none;
    border-style: hidden;
}
.imgLike{
    width: 35px;
    height: 35px;
}
.divLike{
    display: flex;
    flex-direction: row;
}
.contador{
    margin-left: 5px;
    font-size: 1.3rem;
    padding-top: 3px;
    font-weight: bold;
    margin-top: 7px;
}


