.mainVoto {
   background-color: #EFECDE; 
}

.banner {
    background:linear-gradient(0deg,  #EFECDE, #fcfcfc20, #fcfcfc15), url('./votoBanner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 310px;
    display: flex;
    flex-direction: column-reverse;
    border-style: hidden;
    border-bottom-color: #333333;
    border-bottom-style: solid;
    border-bottom-width: 2px ;
}

.bannerMesa {
    background:linear-gradient(0deg,  #EFECDE, #fcfcfc20, #fcfcfc15), url('./mesa.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 310px;
    display: flex;
    flex-direction: column-reverse;
    border-style: hidden;
    border-bottom-color: #333333;
    border-bottom-style: solid;
    border-bottom-width: 2px ;
}

.slideContainer {
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-style: hidden;
    border-top-color: #333333;
    border-top-style: solid;
    border-top-width: 4px ;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 30px;
}

.slide {
    background-color: #C5C2B9;
    padding:15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 9px;
    margin-right: 9px;
    width: 40vw;
    text-align: center;
    border-radius: 12px;
}

.textosContainer {
    margin: 5vw;
    border-style: hidden;
    border-top-color: #333333;
    border-top-style: solid;
    border-top-width: 15px;
    padding-top: 20px;
}
.textoImgContainer {
    margin: 5vw;
    padding-top: 20px;
}

.tituloBanner {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    background-color: white;
    width: 330px;
    margin-left: 25px;
    font-family: "Regular";
    font-weight: bolder;
}
.titulo {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-family: "Regular";
    font-weight: bold;
}
.subtitulo {
    font-size: 1.3rem;
    font-family: "Regular";
    font-weight: bold;
}
.contenido{
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.divImg{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.imgVoto2 {
    width: 260px;
    height: 180px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}
.imgVoto1 {
    width: 320px;
    height: 450px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}
.imgSlide2 {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}
/*----------------------------------------------------------fb*/

.fb-comments{
    background-color: #EFECDE;
}
.comentario{
    background-color: #EFECDE;
    padding: 25px;
    height: 700px;
 }
 .fb-comments button{
     background-color: black;
 }


.interactionContainer {
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-width: 4px ;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 40px;
}
.compartir{
    display: flex;
    flex-direction: column;
    width:150px;
}

.masContainer {
    width: 100vw;
    padding: 5vw;
    padding-top: 20px;
    background-color: #EFECDE;
}

.subtituloMas {
    font-size: 1.3rem;
    font-family: "Regular";
    font-weight: bold;
    border-style: hidden;
    border-color:#333333;
    border-bottom-style: solid ;
}

.flex{
    display: flex;
    flex-direction: row;
}
.itemMenu{
    margin-left: 15px;
    margin-bottom: 0%;
    margin-top: 5px;
    font-size: 1.1rem;
}
.itemMenuTitle{
    margin-left: 10px;
    font-size: 1.25rem;
    padding-top: 6px;
    text-decoration: underline;
    font-weight: bold;
}
.imgCompartir{
    width: 25px;
    height: 25px;
    margin-left: 15px;
    position: absolute;
    top: 17px;
    left: 110px;
}
.imgItems{
    width: 25px;
    height: 25px;
    margin: 3px;
    margin-top: 5px;
}
.btnLike{
    background-color: #EFECDE;
    outline: none;
    border-style: hidden;
}
.imgLike{
    width: 35px;
    height: 35px;
}
.divLike{
    display: flex;
    flex-direction: row;
}
.contador{
    margin-left: 5px;
    font-size: 1.3rem;
    padding-top: 3px;
    font-weight: bold;
    margin-top: 7px;
}


.bannerHome {
    background:url('./homeBanner.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 310px;
    display: flex;
    flex-direction: column-reverse;
    border-style: hidden;
    border-bottom-color: #333333;
    border-bottom-style: solid;
    border-bottom-width: 2px ;
}

.divCardHome {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    margin-bottom: 35px;
    margin-top: 30px;
}
.cardTituloHome1{
    background:url('./home1.png');
    background-position-x: 275px;
    background-position-y: 105px;
    background-size: 35%;
    background-repeat: no-repeat;
    width: 90vw;
    height:260px;
    background-color: #EFECDE;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.cardTituloHome1 h4 {
    font-size: 2rem;
    font-family: 'Quincy';
    font-weight: bold;
    width:50vw;
    margin-right: auto;
    margin-left: auto;
}
.cardImgHome{
    width: 140px;
    height: 80px;
}
.imgDiv{
    display:flex;
    justify-content: left;
    margin-left: 25px;

}
.cardTituloHome2{
    background:url('./home2.png');
    background-position-x: 280px;
    background-position-y: 95px;
    background-size: 35%;
    background-repeat: no-repeat;
    width: 90vw;
    height:260px;
    background-color: #EFECDE;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.cardTituloHome2 h4 {
    font-size: 2rem;
    font-family: 'Quincy';
    font-weight: bold;
    width:50vw;
    margin-right: auto;
    margin-left: auto;
}
.cardContentHome {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
}
.btnTo{
    background-color: black;
    color: white;
    outline: none;
    border-style: hidden;
    padding: 12px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 10px;
    font-size: 1.25rem;
    margin-top: 30px;
}
.cardTextoHome{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 5px;
}
.cardContenidoHome {
    font-size: 1.25rem;
}
.cardTituloHome{
    font-size: 1.65rem;
    font-weight: bold;
    font-family: 'Regular';
}
.cardFooterHome {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
}
.btnLikeHome{
    background-color: white;
    outline: none;
    border-style: hidden;
    height:40px;
}
.imgLikeHome{
    width: 40px;
    height: 40px;
}
.divLikeHome{
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-top: 40px;
}
.contadorHome{
    margin-left: 5px;
    font-size: 1.6rem;
    font-weight: bold;
}
.textoInfo {
    margin: 5vw;
    border-style: hidden;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.2rem;
    text-align: justify;
}
.titleTop{
    color: grey;
    font-size: 1.1rem;
    margin-top: 10px;
}
.linkEnd{
    text-decoration: underline;
    font-size: 1.4rem;
    margin-left: 5px;
}
.textosContainerHome {
    margin: 5vw;
    border-style: hidden;
    border-top-color: #333333;
    border-top-style: solid;
    border-top-width: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.titleComentario {
    font-size: 1.3rem;
    font-family: "Regular";
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}