footer {
    display: flex;
    background-color: black;
    color: #EFECDE;
    justify-content: space-around;
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.footer-social-network{
    flex-direction: row;
}